body{
    background-color: #001127;
    color: #cfeaee;
    font-weight: 500;
    font-family: 'Iosevka Web';
    font-size: 20px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    align-items: center;
}
.main-cont{
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    gap: 40px;
}

#about-cont,
#experience-cont,
#blog-cont,
#projects-cont{
    width: 360px;
    margin-bottom: 40px;
}

a{
    text-decoration: underline;
    color: white;
}
b{
    color: white;
}
h1, h3, h2, h4{
    margin: 0px 0px 0px 0px;
    font-family: 'Ruda', serif;
}
p{
    margin: 0px 0px 0px 0px;
}
h2 {
    font-size: 24px;
    color: #2D6A9F;
}
h1{
    font-size: 32px;
    color: #2D6A9F;
    text-shadow: 0 0 60px #2D6A9F
}
code{
    background-color: #000e1a;
}


/* Game of life */
#main-canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.01;
}

#button-cont{
    position: fixed;
    top: 0;
    padding-top: 10px;
}

#start-button, #stop-button, #reset-button, #plus-button, #minus-button{
    background: none;
    border: 0px;
}

.button-img{
    width: 20px;
}

#population, #refresh-time ,#about{
    display: none;
    perspective: 1000px;
    margin-left: 6px;
    transition: 0.5s;
}

.dimmed{
    opacity: 0.4;
    transition: 0.5s;
}
